.profile {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 1px 4px 0px rgb(33, 31, 68), 0px 1px 1px 0px rgb(59, 53, 143),
    0px 2px 1px -1px rgb(134, 154, 243);
}
.avatar {
  width: 300px;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stats {
  list-style: none;
}
